{# templates/labs/stats.html.twig #}

<div id="eid_plateforme_stats_by_one_age_cat">

</div>

<script type="text/javascript">
    $(function () {
    var trends = new Highcharts.Chart({
    chart: {
    renderTo: "eid_plateforme_stats_by_one_age_cat"
    },
            exporting: {
            enable: true
            },
            credits: {
            enabled: false
            },
            plotOptions: {
            column: {
            stacking:"normal",
                    dataLabels: {
                    enabled: true
                    }
            }
            },
            series:{{ series |raw}},
            title: {
            text: null
            },
            tooltip: {
            shared: true,
                    borderColor: "#999",
                    borderWidth: 1,
                    borderRadius: 2,
                    shadow: false,
                    yDecimals: 0,
                    valueDecimale: 0,
                    useHTML: true,
                    formatter: function() {
                    var s = '<table class="tip"><thead><tr><th>' + this.x + '</th></tr><thead><tbody>',
                            sum = 0;
                    $.each(this.points, function(i, point) {
                    s += '<tr><th style="color:' + point.series.color + '">' + point.series.name + ': </th><td style="text-align:right">' + point.y + '</td></tr>';
                    sum += point.y;
                    });
                    s += '<tr><th>Total:</th><td style="text-align:right"><b> ' + sum + '</b></td></tr></tbody></table>'
                            return s;
                    }
            //   headerFormat: '<table class="tip"><thead><tr><th>{point.key}</th></tr><thead><tbody>',
            //   pointFormat: '<tr><th style="color:{series.color}">{series.name}:</th><td style="text-align:right">{point.y}</td></tr>',
            //   footerFormat: '<tr><th>Total:</th><td style="text-align:right"><b>{point.total}</b></td></tr></tbody></table>'
            },
            xAxis: {
            categories:{{ categories |raw}},
            },
            yAxis:{
            title: {
            text: "{{'Tests'|trans}} ( {{label}} )"
            },
                    stackLabels: {
                    enabled: true,
                            style: {
                            fontWeight: 'bold',
                                    color: (// theme
                                            Highcharts.defaultOptions.title.style &&
                                            Highcharts.defaultOptions.title.style.color
                                            ) || 'gray'
                            }
                    }
            }
    });
    });
</script>