@import "~bootstrap/scss/bootstrap";
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css';
html {
    body{
        .date_filtered_filter{
            float: right;
            font-style: italic;
            color: #595959;
            font-size: 1.2em;
            font-weight: 700;
        }
        .table-sm td {
            padding: 0.1rem;
        }
        .summ_label{
            display: inline-block;
            width:120px;
            font-style: italic;
            /*color:#3d3c3d;*/
        }
        .chart_filter{
            margin-left:20px;
            margin-right:20px;
            font-size: 0.9em;
        }
        .date_filtered{
            font-size: 0.9em;
            color: #48484b;
            font-style: italic;
        }
        .ui-datepicker-calendar {
            display: none;
        }
        .row{
            margin-left: 0;
            margin-right: 0;
        }
        .summary{
            .border-left-primary {
                border-left: .25rem solid #4e73df !important;
            }
            .border-left-success {
                border-left: .25rem solid 
                    #1cc88a !important;
            }
            .border-left-info {
                border-left: .25rem solid 
                    #36b9cc !important;
            }
            .border-left-warning {
                border-left: .25rem solid 
                    #f6c23e !important;
            }
        }
        #wrapper{
            margin-top: 60px;
            margin-left: 8px;
            margin-right: 8px;
            .upload_form_container{
                margin-top: 150px;
            }
            .login_container{
                padding: 25px;
                .card_login_form {
                    padding: 20px;
                }
            }
            .menu .active{
                font-weight: bolder;
                color: #2e66ae;

            }
            .pane_filter{
                margin-top: 80px;
            }
        }
        .footer {
            color: #FFFFFF;
            width: 100%;
            height: 10px;
            background: #1e1f21;
        }
        .flag_en{
            background-image: url("../images/flag_en_32.png");
            background-repeat: no-repeat;
            background-position: center;
            height: 32px;
            width: 32px;
            float: left;
            overflow: hidden;
            text-indent: -9999px;
            margin: 0px 6px 0 0;
        }
        .flag_fr{
            background-image: url("../images/flag_fr_32.png");
            background-repeat: no-repeat;
            background-position: center;
            height: 32px;
            width: 32px;
            float: left;
            overflow: hidden;
            text-indent: -9999px;
            margin: 0px 6px 0 0;
        }
    }
}
