{# templates/includes/region_filter.html.twig #}
<div class=" row">
    <div class="col-md-10">
        <div class="row">
            <input type="hidden" id="org_level" value="0"/>
            <div class="col-md-5 mb-4">
                <label for="org_region">
                    {{ 'Régions:'|trans }}
                </label>
                <select name="org_region" id="org_region" class="form-control form-control-sm">
                    <option></option>
                    <option value="0"> {{ 'Toutes les régions'|trans }} </option>
                    {% for region in regions %}
                        <option value="{{ region['id'] }}"> {{ region['name'] }} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
